{% extends 'base.html' %}

{% block content %}
<h1>New Event</h1>

<form method="POST">
    <p>
        <label>
            Event Title:
            <input type="text" name="title">
        </label>
    </p>
    <p>
        <label>
            Event Description: <br>
            <textarea name="description"></textarea>
        </label>
    </p>
    <p>
        <label>
            Date and Time: <br>
            <input type="date" name="date" placeholder="Date format mm-dd-YYYY">
            <input type="time" name="time" placeholder="Time format HH:MM AM/PM">
        </label>
    </p>
    <p>
        <label>
            Event Type: <br>
            <select name="event_type">
                <option value="PARTY">Party</option>
                <option value="STUDY">Study</option>
                <option value="NETWORKING">Networking</option>
                <option value="GAMING">Gaming</option>
                <option value="CHILL">Chill</option>
                <option value="GENERIC">Generic</option>
            </select>
        </label>
    </p>
    <p>
        <input type="submit" name="submit" value="Add">
    </p>
</form>

{% endblock %}